/* mobile version of the site */

@media screen and (max-width: 425px)
{
	.vanish_mobile
	{
		display: none;
	}

/* Header */

	.logo_reservia
	{
		margin-top: 19px;
		margin-left: 23px;
	}
	
	.menu_list
	{
		margin-right: 0px;
	}

	header_mobile
	{
		display: flex;
		width: 100%;
		justify-content: space-between; 
	}
	
	.menu_list_mobile
	{
		display: flex;
		border-bottom: solid 4px;
		border-color: #F2F2F2;
		width: 100%;
	}
	
	.menu_list_mobile_options
	{
		display: flex;
		list-style-type: none;
	}
	
	.menu_list_mobile_options a
	{
		padding: 40px;
		padding-bottom: 16px;
		text-decoration: none;
	}
	
	.menu_list_mobile_options a:visited
	{
		color: #000;
	}

	.menu_list_mobile_options a:hover
	{
		color: #0065FC;
		border-bottom: solid 4px;
		border-color: #0065FC;
	}
	
	.menu_list_mobile_accommodation
	{	
	}

	.menu_list_mobile_activities
	{		
	}

/* 1st Sections */

	.first_section
	{
		margin-left: 20px;
	}
		
/* 2nd section */

	.second_section
	{
		flex-flow: wrap;
		margin-left: 0px;
	}
	
	.filters
	{
		flex-flow: wrap;
	}
		
	.filters h4
	{
		margin: 0px;
		margin-bottom: 8px;
		margin-right: 10px;
	}
	
	.info
	{
		margin-top: 10px;
	}

/* Container 1 & 2 */
	
	.container_1-2
	{
		flex-flow: wrap-reverse;
	}
	
	.marseille_accommodation
	{
		margin-left: 0px;
		background-color: white; 
	}
	
	#container_image_marseille figure
	{
		margin-bottom: 0px;
	}
	
	.accommodation_image 
	{
		width: 346px;
	}
	
	#container_image_famous
	{
		margin-right: 0px;
		margin-left: 0px;
		border-radius: 0px;
	}
	
	.famous_i
	{
		margin-right: 40px;
	}
	
	.figure_famous
	{
		margin-bottom: 0px;
	}
	
	.accommodation_image_famous
	{
		height: 155px;
	}
	
	.figcaption_accommo_famous
	{
		height: 163px;
	}
	
	.star_famous
	{
		padding-top: 47px;
	}

/* 3rd section */
	
	.third_section
	{
		margin-top: 23px;
	}
	
	.activities_figure
	{
		width: 354px;
		height: 203px;
		margin-bottom: 0px;
		margin-right: 0px;
	}
	
	.activities_img1-4
	{
		width: 354px;
		height: 140px;
	}
	
	.activities_img2
	{
		width: 354px;
		height: 140px;
	}
	
	.activities_img3
	{
		width: 354px;
		height: 140px;
	}
	
	.activities_img5
	{
		width: 354px;
		height: 140px;
	}
	
	.activities_img6
	{
		width: 354px;
		height: 140px;
	}

/* Footer */
	
	.about_div
	{
		flex-flow: column;
	}
	
	.about_ul
	{
		padding-bottom: 0px;
	}
	
	.about_ul1-2
	{
		margin-right: 0px;
	}
	
	.about_ul2-3
	{
		padding-left: 40px;
	}
}








/* ipad version of the site */

@media screen and (max-width: 600px)
{
	.vanish_mobile
	{
		display: none;
	}

/* Header */

	.logo_reservia
	{
		margin-top: 19px;
		margin-left: 23px;
	}
	
	.menu_list
	{
		margin-right: 0px;
	}

	header_mobile
	{
		display: flex;
		width: 100%;
		justify-content: space-between; 
	}
	
	.menu_list_mobile
	{
		display: flex;
		border-bottom: solid 4px;
		border-color: #F2F2F2;
		width: 100%;
	}
	
	.menu_list_mobile_options
	{
		display: flex;
		list-style-type: none;
	}
	
	.menu_list_mobile_options a
	{
		padding: 40px;
		padding-bottom: 16px;
		text-decoration: none;
	}
	
	.menu_list_mobile_options a:visited
	{
		color: #000;
	}

	.menu_list_mobile_options a:hover
	{
		color: #0065FC;
		border-bottom: solid 4px;
		border-color: #0065FC;
	}
	
	.menu_list_mobile_accommodation
	{	
	}

	.menu_list_mobile_activities
	{		
	}

/* 1st Sections */

	.first_section
	{
		margin-left: 20px;
	}
		
/* 2nd section */

	.second_section
	{
		flex-flow: wrap;
		margin-left: 0px;
	}
	
	.filters
	{
		flex-flow: wrap;
	}
		
	.filters h4
	{
		margin: 0px;
		margin-bottom: 8px;
		margin-right: 10px;
	}
	
	.info
	{
		margin-top: 10px;
	}

/* Container 1 & 2 */
	
	.container_1-2
	{
		flex-flow: wrap-reverse;
	}
	
	.marseille_accommodation
	{
		margin-left: 0px;
		background-color: white; 
	}
	
	#container_image_marseille figure
	{
		margin-bottom: 0px;
	}
	
	.accommodation_image 
	{
		width: 346px;
	}
	
	#container_image_famous
	{
		margin-right: 0px;
		margin-left: 0px;
		border-radius: 0px;
	}
	
	.famous_i
	{
		margin-right: 40px;
	}
	
	.figure_famous
	{
		margin-bottom: 0px;
	}
	
	.accommodation_image_famous
	{
		height: 155px;
	}
	
	.figcaption_accommo_famous
	{
		height: 163px;
	}
	
	.star_famous
	{
		padding-top: 47px;
	}

/* 3rd section */
	
	.third_section
	{
		margin-top: 23px;
	}
	
	.activities_figure
	{
		width: 354px;
		height: 203px;
		margin-bottom: 0px;
	}
	
	.activities_img1-4
	{
		width: 354px;
		height: 140px;
	}
	
	.activities_img2
	{
		width: 354px;
		height: 140px;
	}
	
	.activities_img3
	{
		width: 354px;
		height: 140px;
	}
	
	.activities_img5
	{
		width: 354px;
		height: 140px;
	}
	
	.activities_img6
	{
		width: 354px;
		height: 140px;
	}

/* Footer */
	
	.about_div
	{
		flex-flow: column;
	}
	
	.about_ul
	{
		padding-bottom: 0px;
	}
	
	.about_ul1-2
	{
		margin-right: 0px;
	}
	
	.about_ul2-3
	{
		padding-left: 40px;
	}
}









