@font-face 
{
	font-family: 'raleway';
	src: url('fonts/raleway/Raleway-Regular.eot');
	src: url('fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/raleway/Raleway-Regular.woff') format('woff'),
		 url('fonts/raleway/Raleway-Regular.ttf') format('truetype'),
		 url('fonts/raleway/Raleway-Regular.svg?#raleway') format('svg');
}

*
{
    font-family: 'raleway';
}

.bold 
{
	font-weight: bold; 
}

.blue
{
	color: #0065FC;
}

.grey
{
	color: #F2F2F2;
}







/* Header */

.logo_reservia 
{
	width: 7em;
	height: 3em;
	margin-left: 32px;
	margin-top: 26px;
}

.title 
{
	margin-bottom: 8px;
}

.p_under_title
{
	margin-top: 7px;
}

.menu_list
{
	display: flex;
	list-style-type: none;
	margin-right: 32px;
	margin-top: 26px;
}

.menu_list a
{
	padding: 32px;
}

.menu_list a:hover
{
	color: #0065FC;
	border-top: solid #0065FC;
}

header
{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.link_login
{
	color: #0065FC;
	font-weight: bold;
}









/* 1st section */

.first_section
{
	margin-left: 32px;
}

.search_city
{
	display: flex;
}

.search_city i
{
	background-color: #F2F2F2;
	padding: 12px;
	padding-top: 11px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.search_city input
{
	margin-bottom: -10px;
	width: 190px;
	height: 32px;
	font-weight: bold;
	font-size: 14px;
}

.search_city label
{
	background-color: #0065FC;
	background-size: 50px;
	color: white;
	width: 85px;
	height: 26px;
	padding: 20px; 
	padding-top: 10px;
	padding-bottom: 2px;
	border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
	font-weight: bold;
}

.second_section
{
	display: flex;
	margin-left: 10px;
}

.second_section h4
{
	margin-right: 12px;
	padding-top: 12px;
}

.filters
{
	display: flex;
}

.filters h4
{
	position: relative;
	border: 2px;
	border-style: solid;
	border-radius: 25px;
	border-color: #F2F2F2;
	margin-left: 20px;
	padding-left: 50px;
	padding-top: 8px;
	padding-right: 8px;
	height: 31px;
}

.filters h4:hover
{
	color: #0065FC;
	border-color: #DEEBFF;
	background-color: #DEEBFF;
}

.filters i
{
	color: #0065FC;
	background-color: #DEEBFF;
	border-style: solid; 
	border-radius: 20px;
	border-color: #DEEBFF;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 11px;
	padding-top: 12px;
	border: 0px;
}

.filter_2_image
{
	padding-left: 14px;
	padding-right: 13px;
}

.info
{
	display: flex;
	position: relative;
	padding-left: 40px;
	left: 8px;
}

.info h4
{
	font-weight: normal;
	margin-top: 15.28px;
}

.info i
{
	height: 12px;
	position: absolute;
	left: 0px;
	top: 12px;
	border: 1px;
	border-style: solid; 
	border-radius: 25px;
	border-color: #F2F2F2; 
	padding: 6px;
	padding-right: 9px;
	padding-left: 9px;
	color: #0065FC;
	margin-left: 3px;
}

.marseille_accommodation
{
	height: 638px;
	width: 814px;
	margin-left: 32px;
	background-color: #F2F2F2;
	border-radius: 25px
}

.marseille_accommodation h1
{
	padding-top: 30px;
    padding-left: 34px;
	margin-bottom: 5px;
}

#container_image_marseille
{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 32px;
	padding-left: 16px;
}

#container_image_marseille figure
{
	margin-left: 16px;
	margin-right: 16px;	
	box-shadow: 1px 1px 12px #cac7c6;
	border-radius: 25px;
}

.accommodation_image
{
	height: 120px;
	width: 220px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-width: 4px;
	border-bottom-width: 0px;
	border-style: solid;
	background-color: white;
	border-color: white;
	object-fit: cover; 
}

.figcap_accommo_image p
{
	padding-bottom: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 15px;
}

.padding
{
	padding-top: 18px;
}

.figcap_accommo_image i
{
	width: 15px;
	margin-right: 2px;
}

.padding_first_star
{
	margin-left: 15px; 
}

.figcaption_accommo
{
	margin-top: -21px;
	background-color: white;
	padding-bottom: 8px; 
	border-bottom-left-radius: 25px; 
	border-bottom-right-radius: 25px;
}

.view_more
{
	font-weight: bold;
	padding-left: 34px;
	margin-top: 0px;
}









/* 2nd section */

.figure_famous
{
	display: flex;
	margin: 0px;
	margin-left: 34px;
	height: 148px;
	margin-bottom: 38px;
	box-shadow: 1px 1px 12px #cac7c6;
	border-radius: 25px;
}

#container_image_famous
{
	position: relative;
	display: flex;
	float: right;
	height: 638.917px;
	width: 425px;
	flex-wrap: wrap;
	top: -638px;
	background-color: #F2F2F2; 
	border-radius: 25px;
	margin-right: 32px;
}

.accommodation_image_famous
{
	height: 141px;
	width: 148px;
	border-width: 4px;
	border-style: solid;
	background-color: white;
	border-color: white;
	object-fit: cover; 
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.figcap_accommo_image_famous p
{
	padding-bottom: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 15px;
}

.figcap_accommo_image_famous i
{
	width: 15px;
	margin-right: 2px;
}

.accommodation_famous h1
{
	padding-top: 10px;
    padding-left: 34px;
	margin-bottom: 21px;
}

.famous_i
{
	position: absolute;
	height: 17;
	top: 37px;
	right: 20px;
    left: 371px;
	bottom: 241px;
}

.figcaption_accommo_famous
{
	background-color: white;
	width: 199.933px;
	height: 149px;
	margin-top: 0px;
	padding-bottom: 0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.star_famous
{
	padding-top: 30px;
}

.padding_famous
{
	padding-top: 12px;
}

.padding_cost_famous
{
	padding-top: 3px;
}











/* 3rd section & div */

.third_section
{
	margin-left: 32px;
	margin-top: 60px;
}

.third_section h1
{
	margin-bottom: 9px;
}

.activities_div
{
	display: flex;
}



/* all image */

.activities_figure
{
	width: 300px;
	height: 487px;
	margin-left: 0px; 
	box-shadow: 1px 1px 12px #cac7c6;
	border-radius: 25px;
}

.activities_img
{
	object-fit: cover;
	width: 300px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.activities_figcaption p
{
	padding-left: 20px;
}


/* image 1 & 4 */

.activities_img1-4
{
	height: 425px;
}



/* image 2 */

.activities_figure2
{
	height: 256px;
}

.activities_img2
{
	height: 195px;
}

/* figure 2 & 5 */

.activities_figure2-5
{
	margin-bottom: 30px;
}



/* image 3 */

.activities_figure3
{
	height: 202px;
}

.activities_img3
{
	height: 139px;
}



/* image 5 */

.activities_figure5
{
	height: 208px;
}

.activities_img5
{
	height: 147px;
}



/* image 6 */

.activities_figure6
{
	height: 250px;
}

.activities_img6
{
	height: 187px;
}








/* footer */

footer
{
	background-color: #F2F2F2;
	width: 100%;
}

/* ul & div */

.about_div
{
	display: flex;
	width: 100%;
}

.about_ul
{
	list-style-type: none;
	padding-top: 20px;
	padding-right: 300px;
	padding-bottom: 28px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.about_ul h4
{
	margin-top: 0px;
}

.about_ul li
{
	margin-bottom: 12px;
}

.about_ul2
{
	padding-left: 0px;
}

.about_ul3
{
	padding-left: 0px;
}

/* corriger les erreurs html que le site W3C va donner */







