@font-face 
{
	font-family: 'raleway';
	src: url('fonts/raleway/Raleway-Regular.eot');
	src: url('fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/raleway/Raleway-Regular.woff') format('woff'),
		 url('fonts/raleway/Raleway-Regular.ttf') format('truetype'),
		 url('fonts/raleway/Raleway-Regular.svg?#raleway') format('svg');
}

*
{
    font-family: 'raleway';
}

.bold 
{
	font-weight: bold; 
}





/* Header */

.logo_reservia 
{
	width: 7em;
	height: 3em;
	margin-left: 32px;
	margin-top: 26px;
}

.title 
{
	margin-bottom: 8px;
}

.p-under-title
{
	margin-top: 7px;
}

.menu_list
{
	display: flex;
	list-style-type: none;
	margin-right: 32px;
	margin-top: 26px;
}

.menu_list a
{
	padding: 32px;
}

.menu_list a:hover
{
	color: #0065FC;
	border-top: solid #0065FC;
}

header
{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.link_login
{
	color: #0065FC;
	font-weight: bold;
}









/* Sections */

.first_section
{
	margin-left: 32px;
}

.search_city
{
	display: flex;
}

.search_city img
{
	background-color: #F2F2F2;
	height: 15px;
	width: 12px;
	padding: 12px;
	padding-top: 11px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.search_city input
{
	margin-bottom: -10px;
	width: 190px;
	height: 32px;
	font-weight: bold;
	font-size: 14px;
}

.search_city label
{
	background-color: #0065FC;
	background-size: 50px;
	color: white;
	width: 85px;
	height: 26px;
	padding: 20px; 
	padding-top: 10px;
	padding-bottom: 2px;
	border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
	font-weight: bold;
}

.second_section
{
	display: flex;
}

.second_section p
{
	margin-right: 25px;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 20px;
}

.filters
{
	display: flex;
}

.filters p
{
	position: relative;
	border: 2px;
	border-style: solid;
	border-radius: 25px;
	border-color: #F2F2F2;
	padding-left: 55px;
}

.filters p:hover
{
	color: #0065FC;
	border-color: #DEEBFF;
	background-color: #DEEBFF;
}

.filters img
{
	height: 25px;
	border-width: 9px;
	border-style: solid; 
	border-radius: 20px;
	color: #DEEBFF;
	background-color: #DEEBFF;
	position: absolute;
	top: 0px;
	left: 0px;
}

.info
{
	display: flex;
	position: relative;
	padding-left: 35px;
}

.info img
{
	height: 12px;
	position: absolute;
	left: 0px;
	top: 14px;
	border: 1px;
	border-style: solid; 
	border-radius: 25px;
	border-color: #F2F2F2; 
	padding: 5px;
	padding-left: 9px;
	padding-right: 9px;
}

.marseille_accommodation
{
	height: 638px;
	width: 925px;
	margin-left: 32px;
	background-color: #F2F2F2;
	border-radius: 25px
}

.marseille_accommodation h1
{
	padding-top: 30px;
    padding-left: 34px;
	margin-bottom: 5px;
	z-index: 62px;
}

#accommodation_images
{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 32px;
}

.accommodation_image
{
	height: 120px;
	width: 220px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-width: 4px;
	border-bottom-width: 0px;
	border-style: solid;
	background-color: white;
	border-color: white;
}

.star_image
{
	height: 15px;
	width: 15px;
	margin-right: 2px;
}

.figcap_accommo_image1 p
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
}

figcaption
{
	background-color: white;
	padding-bottom: 8px; 
	border-bottom-left-radius: 25px; 
	border-bottom-right-radius: 25px;
}

.view_more
{
	font-weight: bold;
	padding-left: 34px;
	margin-top: 0px;
}

/* Footer */

/* footer */
/* { */
	/* margin-left: 32px; */
	/* margin-top: 32px; */
/* } */







